[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/entt"]
	path = extern/entt
	url = https://github.com/skypjack/entt.git
[submodule "extern/glad"]
	path = extern/glad
	url = https://github.com/premake-libs/glad
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
